.app_green_theme {
    --bg-color: #259da2;
    --inverted-bg-color: #0d7377;
    --primary-color: #47b8bc;
    --secondary-color: #3aa168;
    --inverted-primary-color: #a8a9c2;
    --inverted-secondary-color: #cac0d2;
}
